# === Genomic data files ===
*.fa
*.fai
*.bam
*.bai
*.cram
*.crai
*.haps
*.haps.gz
*.sample
*.map
*.ped
*.match
*.bed
*.bim
*.fam
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.vcf.bgz
*.vcf.bgz.tbi
*.tsv
*.ucsc_bed
test/files

# === Log files ===
*.log

# === HPC / SLURM outputs ===
slurm/

# === Cromwell workflow outputs ===
cromwell-executions/
cromwell-workflow-logs/

# === Cromwell Java Container ===
cromwell-*.jar

# === Python cache files ===
__pycache__/
.pytest_cache/

# === Distribution / build files ===
GRiD.egg-info/

# === readthedocs build files ==
docs/build/

# === Mukamel code files ===
mukamel/

files/SOL_NWD_IDs_crosswalk.csv
